<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>It works!</title>
</head>
<body>
    <h1>Host info</h1>
    <p>CPU INFO (cores): {{ ansible_facts.ansible_processor_cores }}</p>
    <p>MEMORY INFO (Mb): {{ ansible_facts.ansible_memtotal_mb }}</p>
    <p>DISK SIZE INFO (xvda): {{ ansible_facts.ansible_devices.xvda.size}}</p>
    <p>IP ADDR INFO: {{ ansible_facts.ansible_all_ipv4_addresses}}</p>
    <p>This page was served by <a href="http://www.apache.org/">Apache</a>. You should replace this page (located at /var/www/html/index.html) with your own.</p>
</body>
</html>